body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6f7ff;
}


.rank {
  color: #4CAF50;
  font-weight: bold;
}

.teamA {
  color: #ff6600;
}



.teamB {
  color: #3399ff;
}

.teamC {
  color: #ff3399;
}