body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f0f9f4;
  color: #333;
}

header {
  background-color: #2ecc71;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

p {
  margin: 20px;
  font-size: 1.1em;
}